<!-- Game and editor -->
<div style="padding: 20px; height: 80vh">
    <div style="width: 50%; height: 100%; float: left; text-align: center">
        <canvas></canvas>
    </div>
    <h2 class="text-light text-center">Editor</h2>
    <div
        style="
            width: 50%;
            height: 100%;
            display: inline-block;
            border: white 2px solid;
        "
    >
        <%- include('editor.ejs') %>
    </div>
</div>
