<div class="text-center">
    <canvas
        id="mainGame"
        width="750"
        height="750"
        style="border: 2px solid #ffffff"
    ></canvas>
    <!-- <canvas
        id="mainGame"
        width="500"
        height="500"
        style="border: 2px solid #ffffff"
    ></canvas> -->
</div>
<script src="/games/snake.js"></script>
